@use "../base/variables" as *;
.client {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;


  &__title {
  color: $text-color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

&__list {
  display: flex;
  justify-content: space-between;
  /* від 481px до 767px */
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .your-class {
      flex-basis: calc((100% - 30px) / 3); /* test */
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  /* до 480px */
  @media screen and (max-width: 480px) {
    .your-class {
      flex-basis: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px; /* можеш підлаштувати під мобільні */
    }
  }

}



&__item:hover {
  .client__link {
    border-color: $accent-color;
  }
  .client__icon {
    fill: $accent-color;
  }
}


&__link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}










